[worldserver]

#############################
#   CONGRATS ON LEVEL-UP
#############################

# Enable the module? (1: true | 0: false)

Congrats.Enable = 1

# Enable the Per level congratulations announcement (1: true | 0: false)

CongratsPerLevel.Enable = 1

# Announce the module when the player logs in?

Congrats.Announce = 1

# ID Acore String Message

Congrats.Acore.String.ID = 60000

# Filter out RamdomBots from congratulations (1: filter RamdomBots | 0: include RamdomBots)
# When set to 1, bots will not receive rewards or congratulation messages

Congrats.FilterBots = 1